<div class="container ui-g ui-fluid dataTable">
  <p-card class="ui-g-6 ui-g-nopad">
    <button (click)="getUsersPatients()"> Refresh User Patients</button>
    <table>
      <tr>
        <th>Name</th>
        <th>Detail</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let patient of patientList">
        <td>{{patient.name}}</td>
        <td>
          <div class="detail" (click)="navigateToDetail(patient.id)">Show Detail</div>
        </td>
        <td>
          <div class="delete" (click)="deletePatient(patient.id)">Delete</div>
        </td>
      </tr>
    </table>
  </p-card>
  <p-card *ngIf="isAdmin" class="ui-g-6 ui-g-nopad">
    <button (click)="getAdminPatients()"> Refresh Admin Patients</button>
    <table>
      <tr>
        <th>Name</th>
        <th colspan="2">User ID</th>
        <th>Detail</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let patient of patientList">
        <td>{{patient.name}} </td>
        <td colspan="2">{{patient.userId}}</td>
        <td>
          <div class="detail" (click)="navigateToDetail(patient.id)">Show Detail</div>
        </td>
        <td>
          <div class="delete" (click)="deletePatientAdmin(patient.id)">Delete</div>
        </td>
      </tr>
    </table>
  </p-card>
</div>