@model IdentityServer.ViewModel.ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<form asp-controller="UserModification" asp-action="ChangePassword" method="post" role="form">
    <div class="form-group row">
        <label asp-for="CurrentPassword" class="col-sm-2 col-form-label">Current password</label>
        <div class="col">
            <input class="form-control" asp-for="CurrentPassword" placeholder="current password" type="password" required />
        </div>
        <div class="col"></div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-sm-2 col-form-label">New password</label>
        <div class="col">
            <input class="form-control" asp-for="NewPassword" type="password" placeholder="new password" required />
        </div>
        <div class="col"></div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>