<div class="container ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
      <p-toast position="top-right"></p-toast>
        <input formControlName="oldPassword"  type="password" pInputText placeholder="Old password" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
        </div>
      </div>
      <div class="ui-inputgroup ui-g-12">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-lock"></i>
        </span>
        <input formControlName="newPassword" type="password" pInputText placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">New password is required</div>
        </div>
      </div>
      <div class="ui-inputgroup ui-g-12">
        <button pButton type="button" [disabled]="loading" class="ui-button-raised ui-button-rounded" label="Change Password"
          (click)="onSubmit($event)"></button>
      </div>
    </form>
  </div>
</div>