<body class="login-body">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="login-panel ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12 logo-container">
        </div>
        <div class="ui-g-12">
          <input type="text" name="userName" placeholder="Username" [(ngModel)]="loginVM.username" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </div>
        <div class="ui-g-12">
          <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="loginVM.password"
            class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </div>
        <div class="ui-g-12 button-container">
          <button [disabled]="loading" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-c"></span>
            <span *ngIf="!loading" class="ui-button-text ui-c">Log in </span>
            <span *ngIf="loading" class="ui-button-text ui-c">
              Logging in <i class="fa fa-spinner fa-spin"></i>
            </span>
          </button>
        </div>

      </div>
    </div>
  </form>
</body>