<div class="container ui-g ui-fluid">

  <div class="ui-g-12 ui-md-4">
    <form patientForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">

      <div class="label-text ui-g-2 ui-sm-12">
        <label for="edit">Enable Edditing:</label>
      </div>
      <div class="ui-g-9 ui-sm-11 ui-lg-5 ui-fluid">
        <p-inputSwitch onLabel="Yes" offLabel="No" name="edit" [(ngModel)]="isEditingEnabled"></p-inputSwitch>
      </div>

      <div class="Patient-name">
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="firstName" pInputText placeholder="First name of patient" [(ngModel)]="patient.patientName.firstName"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="middleName" pInputText placeholder="Middle name of patient" [(ngModel)]="patient.patientName.middleName"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="lastName" pInputText placeholder="Last name of patient" [(ngModel)]="patient.patientName.lastName"
            required />
        </div>
      </div>
      <div class="Address" *ngIf = "patient.address">
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="cityName" pInputText placeholder="City name" [(ngModel)]="patient.address.cityName"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="floor" pInputText placeholder="Floor" [(ngModel)]="patient.address.floor"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="houseLetter" pInputText placeholder="house Letter" [(ngModel)]="patient.address.houseLetter"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="houseNumber" pInputText placeholder="house number" [(ngModel)]="patient.address.houseNumber"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="municipalityCode" pInputText placeholder="municipality code" [(ngModel)]="patient.address.municipalityCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="postCodeIdentifier" pInputText placeholder="post code identifier" [(ngModel)]="patient.address.postCodeIdentifier"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="sideOrDoor" pInputText placeholder="side or door" [(ngModel)]="patient.address.sideOrDoor"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="streetName" pInputText placeholder="street name" [(ngModel)]="patient.address.streetName"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="streetNumber" pInputText placeholder="street number" [(ngModel)]="patient.address.streetNumber"
            required />
        </div>
      </div>

      <div class="Additional info">
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="civilRegistrationNumber" pInputText placeholder="civil registrationNumber"
            [(ngModel)]="patient.civilRegistrationNumber" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="civilStatusCode" pInputText placeholder="civil statusCode" [(ngModel)]="patient.civilStatusCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="civilSubstituteNumberNational" pInputText placeholder="civil substitute number national"
            [(ngModel)]="patient.civilSubstituteNumberNational" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="countryIdentificationCode" pInputText placeholder="country identification code"
            [(ngModel)]="patient.countryIdentificationCode" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="countryIdentificationCodeSST" pInputText placeholder="country identification code SST"
            [(ngModel)]="patient.countryIdentificationCodeSST" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="countryIdentificationText" pInputText placeholder="country identification text"
            [(ngModel)]="patient.countryIdentificationText" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="parishDistrictCode" pInputText placeholder="parish district code" [(ngModel)]="patient.parishDistrictCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="parishDistrictText" pInputText placeholder="parish district text" [(ngModel)]="patient.parishDistrictText"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="personGenderCode" pInputText placeholder="person gender code" [(ngModel)]="patient.personGenderCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="populationDistrictCode" pInputText placeholder="population district code"
            [(ngModel)]="patient.populationDistrictCode" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="populationDistrictText" pInputText placeholder="population district text"
            [(ngModel)]="patient.populationDistrictText" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="practitionerIdentificationCode" pInputText placeholder="practitioner identification code"
            [(ngModel)]="patient.practitionerIdentificationCode" required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="regionalCode" pInputText placeholder="regional code" [(ngModel)]="patient.regionalCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="regionalName" pInputText placeholder="regional name" [(ngModel)]="patient.regionalName"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="socialDistrictCode" pInputText placeholder="social district code" [(ngModel)]="patient.socialDistrictCode"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="socialDistrictText" pInputText placeholder="social district text" [(ngModel)]="patient.socialDistrictText"
            required />
        </div>
        <div class="ui-inputgroup ui-g-12">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="statusCode" pInputText placeholder="status code" [(ngModel)]="patient.statusCode"
            required />
        </div>

      </div>
      <div class="ui-inputgroup ui-g-12">
        <button pButton type="button" [disabled]="loading" class="ui-button-raised ui-button-rounded" label="Update"
          (click)="onSubmit($event)"></button>
      </div>
    </form>
  </div>


</div>