
<div class="container ui-g ui-fluid dataTable">
  <p-card class="ui-g-6 ui-g-nopad">
<button (click)="getUsersProfiles()"> Refresh User Profiles</button>
  <table>
    <tr>
      <th>Hospital name</th>
      <th colspan="3">Address</th>
      <th>Rate</th>
      <th>Detail</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let profile of userProfileList">
      <td>{{profile.nameOfHospital}}</td>
      <td colspan="3">{{profile.address}}</td>
      <td>{{profile.rate}}</td>
      <td>
        <div  class="detail" (click)="navigateToDetail(profile.id)">Show Detail</div>
      </td>
      <td>
        <div class="delete" (click)="deleteProfile(profile.id)">Delete</div>
      </td>
    </tr>
  </table>
  </p-card>

    <p-card class="ui-g-6 ui-g-nopad" *ngIf="isAdmin">
    <button (click)="getAllProfiles()"> Refresh All Users Profiles</button>
    <table>
      <tr>
        <th>Hospital name</th>
        <th colspan="3">Address</th>
        <th>Rate</th>
        <th colspan="2">User ID</th>
        <th>Detail</th>
        <th>Delete</th>
      </tr>
      <tr class="data" *ngFor="let profile of adminProfileList">
        <td>{{profile.nameOfHospital}}</td>
        <td colspan="3">{{profile.address}}</td>
        <td>{{profile.rate}}</td>
        <td colspan="2">{{profile.userId}}</td>
        <td>
          <div  class="detail" (click)="navigateToDetail(profile.id)">Show Detail</div>
        </td>
        <td>
          <div class="delete" (click)="deleteProfileAdmin(profile.id)">Delete</div>
        </td>
      </tr>
    </table>
  </p-card>
</div>

  